.container {
  font-size: 14px;
  line-height: 1.358;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.avatar {
  float: left;
  margin-right: 10px;
}

.avatar_image {
  height: 48px;
  width: 48px;
}

.author_name {
  font-weight: bold;
  white-space: nowrap;
}

.content {
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 4px;
  margin-top: 4px;
}

.facebook_like_icon {
  display: inline-block;
  backgroud-image: url('/dist/facebook_like_thumb_50x43.png');
  background-size: 50px 43px;
  background-repeat: no-repeat;
}

.created {
  color: #7e7e7e;
  font-size: 12px;
}

.reply_btn {
  border-radius: 4px;
}

.disabled_btn {
  color: rgba(128, 128, 128, 0.55);
  background: rgba(128, 128, 128, 0.14);
}